.advice {
	padding: 1rem;
	width: 100%;
	max-width: 350px;
	background-color: white;
	border-radius: $border-radius-general;
	margin: auto;
	color: black;

	.bold {
		color: black;
	}

	.card-title {
		font-size: 1.5rem;
		color: black;
	}
	.advice-text {
		margin-bottom: 0.5rem;
		color: black;
	}

	.btn {
		padding: 0.5rem;
		border-radius: 5px;
		margin-top: 5px;

		&:hover {
			box-shadow: none;
			transform: none;
			opacity: 0.8;
		}
		&:active {
			transform: none;
		}
	}
}

.accept-btn {
	background-color: #0990d0;
	border: none;
}
.decline-btn {
	background-color: #9d9d9e;
	border: none;
	color: black;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
}

#packVideo {
	margin: auto;
	width: 100%;
	border: solid 2px $primary-color;
	border-radius: 8px;
	margin-bottom: 2rem;
}
