// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  transition: all 0.2s;
  list-style: none;
  text-decoration: none;
}

// Typography
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

// Colors
$bg-color: #191818;
$primary-color: #6201de;
$font-color: white;

// Utilities
.important-text {
  color: $primary-color;
}
.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.styled-text {
  font-family: "Poetsen One";
}
.body-container {
  padding: 1.5rem;
  max-width: 1000px;
  margin: auto;
}
.full-display-width {
  width: 100%;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  background-color: $primary-color;
  color: $font-color;
  border: solid 2px $primary-color;

  &:hover {
    box-shadow: 0 0 10px 1px $primary-color;
  }
  &:active {
    transform: scale(0.9);
  }
}
.btn-ghost {
  background: transparent;

  &:hover {
    background: $primary-color;
  }
}
.fade-in {
  transform: translateX(100px);
  opacity: 0;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  background-color: $bg-color;
  color: $font-color;
  font-family: "Ubuntu Sans";
  overflow-x: hidden;
}
h1 {
  margin-bottom: 1rem;
}
