.works {
  display: flex;
  flex-direction: column;
  justify-content: center;

  my-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .work-preview {
    img {
      width: 300px;
    }
  }
}
