* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PoetsenOne";
  src: url("../typography/PoetsenOne/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
}
.important-text {
  color: #6201de;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.styled-text {
  font-family: "PoetsenOne";
}

.section {
  margin-bottom: 2rem;
}

.body- {
  padding: 1.5rem;
  max-width: 1000px;
  margin: auto;
}

.btn {
  padding: 0.6rem 1.4rem;
  border-radius: 5px;
  background: #6201de;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: solid 2px #6201de;
  color: white;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  transform: scale(0.9);
}

.btn-ghost {
  background: transparent;
  color: #6201de;
}
.btn-ghost:hover {
  background-color: #6201de;
  opacity: 1;
  color: white;
}

body {
  background-color: #191818;
  color: white;
}

.body-container {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.section-title {
  font-size: 3rem;
  font-family: "PoetsenOne";
  color: #6201de;
  margin-bottom: 10px;
}

.profile {
  margin-bottom: 1rem;
  text-align: center;
}
.profile img {
  width: 150px;
  border: solid 3px #6201de;
  border-radius: 100vh;
  box-shadow: 0 0 10px 2px #6201de;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 700px) {
  .links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.card {
  background-color: rgb(19.7959183673, 19.0040816327, 19.0040816327);
  border-radius: 15px;
  padding: 0.5rem;
  display: flex;
  gap: 20px;
  border: solid 2px #6201de;
  box-shadow: 5px 5px 0px 0px #6201de;
  letter-spacing: 1px;
}
.card img {
  border-radius: 8px;
}
.card .title {
  font-size: 1.5rem;
  color: #6201de;
}
@media screen and (min-width: 700px) {
  .card {
    width: 400px;
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: none;
  }
}

.contact-card {
  max-width: 400px;
  margin-bottom: 20px;
  align-items: center;
}
.contact-card img {
  width: 60px;
}

.demos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.demo-card {
  flex-direction: column;
  max-width: 192.5px;
}
.demo-card img {
  width: 100%;
}

.works-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 700px) {
  .works-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.work-card {
  flex-direction: column;
}
.work-card img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
@media screen and (min-width: 700px) {
  .work-card {
    max-width: 323px;
  }
}

.advice {
  padding: 0.5rem;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  margin: auto;
  color: black;
}
.advice .btn {
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 5px;
}
.advice .btn:hover {
  box-shadow: none;
  transform: none;
  opacity: 0.8;
}
.advice .btn:active {
  transform: none;
}

.advice-title {
  font-size: 1.5rem;
}

.advice-text {
  margin-bottom: 0.5rem;
}

.accept-btn {
  background-color: #0990d0;
  border: none;
}

.decline-btn {
  background-color: #9d9d9e;
  border: none;
  color: black;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

#packVideo {
  margin: auto;
  width: 100%;
  border: solid 2px #6201de;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img img {
  width: 100%;
  mask-image: url(../assets/ink-mask.png);
  mask-size: cover;
  mask-position: center;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card {
  background-color: rgb(19.7959183673, 19.0040816327, 19.0040816327);
  border: solid 2px #6201de;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.service-card:hover {
  transform: scale(1.1);
  background-color: #6201de;
  color: #191818;
  font-weight: 600;
}
.service-card:hover h3 {
  color: #191818;
}

.card-header {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.card-header img {
  margin: auto;
  width: 40px;
}

.advice-title {
  margin-bottom: 0.5rem;
  text-align: center;
}

.carousel {
  position: relative;
  margin: auto;
}

.carousel-images a {
  animation: autoShow 0.5s ease;
}
.carousel-images a:not(:first-child) {
  display: none;
}
.carousel-images img {
  border-radius: 10px 10px 10px 10px;
  border: solid 2px #6201de;
  width: 100%;
}

.control-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
  width: 50px;
}

#prevBtn {
  left: 10px;
}
#prevBtn svg {
  width: 40px;
}

#nextBtn {
  right: 10px;
}
#nextBtn svg {
  width: 40px;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
}

footer {
  background-color: #6201de;
  text-align: center;
  font-size: 1.5rem;
  min-height: 200px;
}

@media screen and (min-width: 700px) {
  .hero-section {
    flex-direction: row;
  }
  .hero-content .buttons {
    flex-direction: row;
  }
  .services-section {
    flex-direction: row;
    gap: 30px;
  }
  .service-card {
    min-height: 220px;
  }
  .nav-btn {
    flex-direction: row;
  }
  .nav-btn .btn {
    min-width: 200px;
  }
}
footer {
  min-height: 400px;
}

@keyframes autoShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
