@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	transition: all 0.2s;
	list-style: none;
	text-decoration: none;
}

.important-text {
	color: #6201de;
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.styled-text {
	font-family: "Poetsen One";
}

.body-container {
	padding: 1.5rem;
	max-width: 1000px;
	margin: auto;
}

.full-display-width {
	width: 100%;
}

.btn {
	padding: 1rem 2rem;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	max-width: 400px;
	background-color: #6201de;
	color: white;
	border: solid 2px #6201de;
}
.btn:hover {
	box-shadow: 0 0 10px 1px #6201de;
}
.btn:active {
	transform: scale(0.9);
}

.btn-ghost {
	background: transparent;
}
.btn-ghost:hover {
	background: #6201de;
}

.fade-in {
	transform: translateX(100px);
	opacity: 0;
}
.fade-in.show {
	transform: translateX(0);
	opacity: 1;
}

body {
	background-color: #191818;
	color: white;
	font-family: "Ubuntu Sans";
	overflow-x: hidden;
}

h1 {
	margin-bottom: 1rem;
}

.links {
	display: block;
}
.links .profile,
.links h1 {
	margin-bottom: 1rem;
	text-align: center;
}
.links .profile img,
.links h1 img {
	width: 150px;
	border: solid 3px #6201de;
	border-radius: 100vh;
	margin: auto;
	box-shadow: 0 0 10px 2px #6201de;
}
.all-links-container {
	margin: auto;
	max-width: 1000px;
}

.cards-container {
	display: block;
}

.contact-card {
	margin: auto;
	background-color: rgb(19.7959183673, 19.0040816327, 19.0040816327);
	border-radius: 15px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	border: solid 2px #6201de;
	box-shadow: 5px 5px 0px 0px #6201de;
	max-width: 300px;
}
.contact-card:hover {
	transform: scale(1.1);
	box-shadow: none;
}
.contact-card img {
	width: 4rem;
	border-radius: 8px;
}
.contact-card .title {
	font-size: 1.5rem;
	color: #6201de;
}

@media screen and (min-width: 700px) {
	.all-links-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.cards-container {
		margin: 0;
	}
}
.onlyfans .card {
	padding: 0.5rem;
	width: 250px;
	background-color: white;
	border-radius: 8px;
	color: black;
	margin: auto;
}
.onlyfans .card .card-title {
	font-size: 1.5rem;
}
.onlyfans .card .card-text {
	margin-bottom: 0.5rem;
}
.onlyfans .card .btn {
	padding: 0.5rem;
	border-radius: 5px;
	margin-top: 5px;
}
.onlyfans .card .btn:hover {
	box-shadow: none;
	transform: none;
	opacity: 0.8;
}
.onlyfans .card .btn:active {
	transform: none;
}
.onlyfans .card .accept-btn {
	background-color: #0990d0;
	border: none;
}
.onlyfans .card .decline-btn {
	background-color: #9d9d9e;
	border: none;
}
.onlyfans .d-none {
	display: none;
}
.onlyfans .d-flex {
	display: flex;
}
.onlyfans #packVideo {
	margin: auto;
	width: 100%;
	border: solid 2px #6201de;
	border-radius: 8px;
	margin-bottom: 2rem;
}
.onlyfans .go-back-btn {
	margin: auto;
}

.works {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.works my-works {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.works .work-preview img {
	width: 300px;
}

.index .section-header {
	font-size: 3rem;
}
.index section {
	margin-bottom: 2rem;
}
.index .hero {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.index .hero .container img {
	max-width: 400px;
}
.index .hero .container h1 {
	font-size: 4rem;
}
.index .hero .container .buttons {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.index .hero .container .btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.index #services {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.index .service-card {
	background-color: rgb(17.193877551, 16.506122449, 16.506122449);
	border: solid 2px #6201de;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem;
}
.index .service-card:hover {
	transform: scale(1.1);
	background-color: #6201de;
	color: #191818;
	font-weight: 600;
}
.index .service-card:hover h3 {
	color: #191818;
}
.index .service-card .card-header {
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
}
.index .service-card .card-header svg {
	margin: auto;
	width: 40px;
}
.index .service-card .card-title {
	margin-bottom: 0.5rem;
}
.index #portfolio .carousel {
	position: relative;
	margin: auto;
}
.index #portfolio .carousel-images a {
	width: 100%;
	animation: autoShow 0.5s ease;
}
.index #portfolio .carousel-images a:not(:first-child) {
	display: none;
}
.index #portfolio .carousel-images img {
	border-radius: 10px 10px 10px 10px;
	border: solid 2px #6201de;
	width: 100%;
}
.index #portfolio .control-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	padding: 5px 5px;
	border: none;
	border-radius: 100vh;
	cursor: pointer;
	width: 50px;
}
.index #portfolio #prevBtn {
	left: 10px;
}
.index #portfolio #prevBtn svg {
	width: 40px;
}
.index #portfolio #nextBtn {
	right: 10px;
}
.index #portfolio #nextBtn svg {
	width: 40px;
}
.index .nav-btn {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 2rem;
}

footer {
	background-color: #6201de;
	text-align: center;
	font-size: 1.5rem;
	min-height: 200px;
}

@media screen and (min-width: 700px) {
	.index .hero {
		flex-direction: row;
	}
	.index .hero .container .buttons {
		flex-direction: row;
	}
	.index .hero .container .btn {
		max-width: 180px;
	}
	.index #services {
		flex-direction: row;
		gap: 30px;
	}
	.index #services .service-card {
		min-height: 220px;
	}
	.index .nav-btn {
		flex-direction: row;
	}
	footer {
		min-height: 400px;
	}
}
@keyframes autoShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*# sourceMappingURL=style.css.map */
