<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Saru's Works" />
    <meta property="og:description" content="All my works" />
    <meta property="og:url" content="cesarsullen.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="./images/icon.JPG" />

    <link rel="icon" type="image/jpg" href="../images/icon.JPG" />
    <link rel="apple-touch-icon" sizes="180x180" href="../images/icon.JPG" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Saru's Works</title>
  </head>
  <body>
    <div class="body-container works">
      <!-- <div class="my-works">
        <div class="work-preview">
          <img src="###" alt="" />
          <h3>Pricing Page</h3>
        </div>
      </div> -->
      <h1 class="important-text">Working on this page</h1>
      <a href="../index.html">
        <button class="btn">Go Back</button>
      </a>
    </div>
  </body>
</html>
