<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="og:title" content="Saru's OF" />
		<meta property="og:description" content="Shhh..." />
		<meta property="og:url" content="cesarsullen.github.io" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="./assets/icon.JPG" />

		<link rel="icon" type="image/jpg" href="../assets/icon.JPG" />
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/icon.JPG" />
		<link rel="stylesheet" href="../style/style.css" />
		<title>Saru's OF</title>
	</head>
	<body>
		<div class="body-container">
			<div class="advice">
				<img src="../assets/icons/of-icon.svg" class="of-img" />
				<h5 class="card-title">Age Confirmation</h5>
				<p class="advice-text">
					This site contains material
					<span class="bold">restricted to minors</span> including nudity and
					explicit sexual activity. You must confirm that you are
					<span class="bold">over 18</span> to enter this site.
				</p>
				<div>
					<button onclick="playVideo()" class="btn accept-btn" type="button">
						Yes, I'm over 18
					</button>

					<a href="../links.html"
						><button class="btn decline-btn">Go back</button></a
					>
				</div>
			</div>

			<video
				id="packVideo"
				class="d-none"
				src="../videos/gato.mp4"
				type="video/mp4 "
				loop
			>
				Your browser does not support the video tag.
			</video>
			<a href="../index.html" class="d-none">
				<button class="btn go-back-btn">Now see my portfolio</button>
			</a>
		</div>

		<script src="../js/onlyfans.js"></script>
	</body>
</html>
