<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Política de Anuncios" />
    <meta property="og:description" content="Política de Anuncios" />
    <meta property="og:url" content="cesarsullen" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://github.com/CesarSullen/pricing-page/blob/main/images/logo.jpeg"
    />

    <link rel="stylesheet" href="../style/style.css" />
    <title>Política de Anuncios</title>
  </head>
  <body>
    <div class="body-container">
      <h1 class="important-text">Política de Anuncios</h1>
      <p>
        El siguiente documento contiene toda la información necesaria para que
        usted pueda utilizar nuestros servicios promocionales, así como los
        requisitos a cumplir por ambas partes.
      </p>

      <h2 class="important-text">¿Qué puedo promocionar?</h2>
      <p>
        Usted, a través de nuestra página puede anunciar su tienda o productos
        individuales. Si su tienda tiene un sitio web, podemos enlazarlo a la
        imagen, de no ser así <span class="bold">nosotros</span> le ofrecemos
        <span class="bold">Baxar</span>, una plataforma diseñada para facilitar
        la compraventa de productos en toda Cuba.
      </p>

      <h2 class="important-text">¿Qué alcance puede tener mi anuncio?</h2>
      <p>
        Tenemos una gran cantidad de clientes que consumen nuestros servicios y
        que revisan nuestra página de precios con frecuencia en busca de
        ofertas.
        <span class="bold">Cada vez que alguien entre a nuestra web</span> verá
        su anuncio mientras esté vigente.
      </p>

      <h2 class="important-text">¿Cuánto tiempo estará vigente mi anuncio?</h2>
      <p>
        Por el momento, los planes de promoción son semanales, o sea, por cada
        pago su anuncio aparecerá en nuestra página por el plazo de
        <span class="bold">una semana</span>.
      </p>

      <h2 class="important-text">Precio de los anuncios</h2>
      <p>
        Cada anuncio vigente por el plazo de una semana tiene un costo de
        <span class="important-text bold">50.00 CUP</span>. De haber cambios en
        dicho precio esta página se actualizará. La fecha de la última
        actualización siempre aparecerá en al final de esta página.
      </p>

      <h2 class="important-text">Requisitos para anunciarse</h2>
      <p>
        Para mantener una interfaz visualmente atractiva nos vemos obligados a
        exigir ciertos requisitos para sus anuncios.
      </p>

      <ul>
        <li>
          <span class="important-text bold">1.</span> El anuncio debe mantener
          la estética minimalista de la página.
        </li>
        <li>
          <span class="important-text bold">2.</span> La elección de colores
          debe ser igual o similar a la nuestra.
        </li>

        <li>
          <span class="important-text bold">3.</span> El tamaño de la imagen
          debe ser de 4096 x 1549 pixeles.
        </li>
        <li>
          <span class="important-text bold">4.</span> El anuncio debe contener
          el logo de nuestro patrocinador, <span class="bold">Baxar</span>.
        </li>
      </ul>
      <p>
        Los datos como los códigos de los colores y el logo de nuestro
        patrocinador <span class="bold">Baxar</span> serán proporcionados por
        nosotros.
      </p>
      <h4>
        En caso de no poder hacer su propia imagen publicitaria, puede contactar
        con nuestro servicio de diseño
        <a
          href="https://api.whatsapp.com/send?phone=+5359180015&text=Hola,%20necesito%20hacer%20un%20banner%20promocional."
          class="important-text underline"
          >tocando aquí</a
        >.
      </h4>
      <p>
        Nosotros conservamos sus imágenes promocionales para posibles futuros
        anuncios.
      </p>

      <h2 class="important-text">Cargos y Responsabilidades</h2>
      <p>
        Al anunciarse con nosotros acepta librarnos de responsabilidades sobre
        la legalidad de sus productos o negocios. Nosotros no tenemos nada que
        ver con los métodos de obtención / venta de sus productos.
        <span class="bold"
          >En caso de usted tener problemas legales, esta política es nuestro
          respaldo</span
        >.
      </p>
      <p>
        Aún así, no anunciaremos productos objetivamente ilegales como drogas o
        armas.
      </p>

      <h2 class="important-text">¿Dónde contacto para anunciarme?</h2>
      <p>
        Tanto para anunciarse como para resolver alguna duda que no esté
        aclarada en este documento no dude en contactar a través del correo
        <a href="mailto:cesarsullen@proton.me" class="important-text"
          >cesarsullen@proton.me</a
        >
        .
      </p>

      <h1 class="important-text">Última actualización</h1>
      <p class="bold underline">8 de mayo del 2024</p>

      <a href="../index.html"><button class="btn">Ir Atrás</button></a>
    </div>

    <script src="../js/app.js"></script>
  </body>
</html>
