<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Ofertas" />
    <meta property="og:description" content="Ofertas de temporada" />
    <meta property="og:url" content="cesarsullen" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://github.com/CesarSullen/pricing-page/blob/main/images/logo.jpeg"
    />

    <link rel="stylesheet" href="../style/style.css" />
    <title>Ofertas de temporada</title>
  </head>
  <body>
    <div class="body-container">
      <div class="offers-section">
        <h1 class="section-title important-text">Ofertas</h1>
        <p class="bold italic">Actualmente no hay ofertas disponibles.</p>
        <p class="bold italic">Revise con frecuencia para estar al tanto.</p>

        <a href="../index.html"><button class="btn">Ir Atrás</button></a>
      </div>
    </div>
  </body>
</html>
